<div class="app-page">
    <div class="app-header clearfix">
        <div class="app-header-container">
            <div class="app-included-page">
                <div class="app-partial-container">
                    <div class="app-grid-layout">
                        <div class="app-grid-row">
                            <div class="app-grid-column col-md-7">
                                <div class="app-ng-transclude app-logo">
                                    <a href="#/"><img src="../images/mybank_logo.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-grid-column col-md-5">
                        <div class="actionWrapper">
                            <button ng-hide="dirty" class="btn btn-primary" ng-click="login()">Login</button>
                            <button ng-hide="dirty" class="btn btn-primary" ng-click="signup()">Take Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <img src="../images/mybank.jpg">
</div>
